{% extends 'base.html' %}
{% load static %}
{% load like_or_not %}
{% load humanize %}
{% block title %}
{{ user.username }}-Profile Page
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'profile/profile.css' %}">
{% endblock css %}
{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="40px", width="40px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="40px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="40px", width="40px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="40px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="40px", width="40px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px" class="profile-image">&nbsp;&nbsp;
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        &nbsp;&nbsp;   
        <a href="{% url 'login:logout' %}" class="logout">Log Out</a>
    </div>
</section>
<section class="profile-data">
    <div class="read-only" id="read" style="display:grid;">
        <div class="profile-pic">
            <img src="{{ profile.avatar.url }}" height="200px", width="200px">
        </div>
        <div class="data"> 
            <p class = "name">{{ profile.first_name }} {{ profile.last_name }}</p>
            <p class = "pro-data"><span class="design">Birth Date : </span> {{ profile.birth_date }}</p>
            {% if  profile.gender == 'M'%}
                <p class = "pro-data"><span class="design">Gender : </span> Male</p>
            {% else %}
                <p class = "pro-data"><span class="design">Gender : </span> Female</p>
            {% endif %}
            <p class = "pro-data"><span class="design">Email : </span>{{ profile.email }}</p>
            {% if profile.bio %}
                <p class = "pro-data"><span class="design">Bio : </span>{{ profile.bio }}</p>
            {% else %}
                <p class = "pro-data"><span class="design"> Bio : </span> No Bio </p>
            {% endif %}
            {% if profile.country %}
                <p class = "pro-data"><span class="design">Country : </span>{{ profile.country }}</p>
            {% else %}
                <p class = "pro-data"><span class="design"> Country : </span> Asgard </p>
            {% endif %}
        </div>
        <button onclick="toggle_visibility();" class="edit-button">Edit Profile</button>
    </div>
    <div class="edit" id="edit-only" style="display: none;">
        <div class="profile-pic">
            <img src="{{ profile.avatar.url }}" height="200px", width="200px">
        </div>
        <form method="post" enctype="multipart/form-data" class="data2">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><button type="submit" class="edit-button">Save changes</button></p>
        </form>
        <button onclick="toggle_visibility();" class="edit-button">No changes required</button>
    </div>
</section>
<section class="posts">
    <div class="friends">
        <h2>Friends</h2>
            {% for friend in all_friends %}
                <a href="" class="profile-name">
                    <img src="{{ friend.friend2.avatar.url }}" height="30px" width="30px"/>&nbsp;
                    <p>{{friend.friend2.first_name}} {{friend.friend2.last_name}}</p>
                </a>
            {% endfor %}
    </div>
    <div class="every-posts">
        {% for one_post in all_post  %}
                    <div class="all-posts">
                        <div class="profile-name">
                            <img src="{{one_post.author.avatar.url}}" height="40px" width="40px"/>
                            <h4>{{one_post.author}}</h4>
                        </div>
                        <p>{{ one_post.content}}</p>
                        <img src="{{ one_post.image.url }}" alt="" class="image">
                        <p class="post-date"> Posted {{ one_post.created|naturaltime|capfirst  }}</p>
                        <div class="like">
                            <img src="{% static 'icons/like.png' %}" alt="Groups", height="20px", width="20px">
                            <span class="gray"> {{ one_post.num_likes }}  </span>
                        </div>
                        <div class="lc">
                            <div class="post-like">
                                <img src="{% static 'like-2.png' %}" alt="" height="20px", width="20px">
                                <form action="{% url 'login:likes' %}" method="post">
                                    {% csrf_token %}
                                    {% if one_post|liked:user.profile.id %}
                                        <input type="hidden" name="unlike" value={{ one_post.pk }}>
                                        <input type="hidden" name="page" value="profile">
                                        <button type="submit">Unlike</button>
                                    {% else %}
                                        <input type="hidden" name="like" value={{ one_post.pk }}>
                                        <input type="hidden" name="page" value="profile">
                                        <button type="submit">like</button>
                                    {% endif %}
                                </form>
                            </div>
                            <a href="{% url 'login:comment' one_post.pk %}"><img src="{% static 'comment.png' %}" alt="" height="20px", width="20px">&nbsp;&nbsp;Comment</a>
                        </div>
                    </div>
            {% endfor %}
    </div>
</section>
<script>
function toggle_visibility() {
       var e = document.getElementById('read');
       var k = document.getElementById('edit-only')
       if(e.style.display == 'grid'){
          e.style.display = 'none';
          k.style.display = 'grid';
       }
       else{
          k.style.display ='none';
          e.style.display = 'grid';
       }
   }
</script>
{% endblock content %}