{% extends 'base.html' %}
{% load static %}
{% block title %}Facebook - Comment Page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/post.css' %}">
{% endblock css %}
{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="40px", width="40px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="40px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="40px", width="40px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="40px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="40px", width="40px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px">
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        <a href="{% url 'login:logout' %}">Log Out</a>
    </div>
</section>
<section class="post">
    <div class="posts">
        <p>{{ posts.content }}</p>
        <img src="{{ posts.image.url }}" alt="">
        <p>{{ posts.author }}</p>
    </div>
</section>
<section class="form">
    <form action="" method="post" class="comment-form">
        <input type="text" name="" id="">
        <input type="hidden" name="post-id" value = "{{ pk }}" >
        <button type="submit">Post</button>
    </form>
</section>
{% endblock content%}