{% extends 'base.html' %}
{% load static %}
{% block title %}Facebook - Comment Page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/post.css' %}">
{% endblock css %}
{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="40px", width="40px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="40px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="40px", width="40px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="40px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="40px", width="40px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px" class="profile-image">&nbsp;&nbsp;
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        &nbsp;&nbsp;   
        <a href="{% url 'login:logout' %}" class="logout">Log Out</a>
    </div>
</section>
<section class="post">
    <div class="posts-content">
        <img src="{{ posts.author.avatar.url }}" alt="" width="70px" height="70px" style="border-radius: 100px;">
        <h3>{{ posts.author }}</h3>
        <p>{{ posts.content }}</p>
    </div>
    <div class="post-image">
        <img src="{{ posts.image.url }}" alt="" width="400px">
    </div>
</section>
<section class="comments-section">
  {% for comment in comments  %}
  <div class="com-header">
  <img src="{{ comment.user.avatar.url }}" alt="" height="30px" width="30px" style="border-radius: 100px;">
    <div class="comment">
        <h4>{{ comment.user }}</h4>
        <p>{{ comment.body }}</p>    
    </div>
  </div>
  {% endfor %}
</section>
<section class="form">
    <form action="" method="post" class="comment-form">
            {% csrf_token %}
            <input type="text" name="comment-body" id="" placeholder="Any Comments">
            <input type="hidden" name="post-id" value = "{{ pk }}" >
        <button type="submit">Post</button>
    </form>
</section>
{% endblock content%}