{% extends 'base.html' %}
{% load static %}
{% block title %}Facebook - Home page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock css %}

{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="40px", width="40px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="40px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="40px", width="40px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="40px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="40px", width="40px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px" class="profile-image">&nbsp;&nbsp;
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        &nbsp;&nbsp;   
        <a href="{% url 'login:logout' %}" class="logout">Log Out</a>
    </div>
</section>
<section class="main">
    <div class="all-tabs">
            <div class='profile extra'>
                <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px" class="profile-image">&nbsp;&nbsp;
                <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
            </div>
                <a href="{% url 'login:friends' %}" class="all-f">Friends</a>
    </div>
    <div class="posts">
        <div class="post-create">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form }}
                <button type="submit">Post</button>
            </form>
        </div>
        <div class="friends-post">
            {% for one_post in all_posts  %}
                    <div class="all-posts">
                        <div class="profile-name">
                            <img src="{{one_post.author.avatar.url}}" height="40px" width="40px"/>
                            <h4>{{one_post.author}}</h4>
                        </div>
                        <p>{{ one_post.content}}</p>
                        <img src="{{ one_post.image.url }}" alt="" class="image">
                        <div class="like">
                            <img src="{% static 'icons/like.png' %}" alt="Groups", height="20px", width="20px">
                            <p class="gray"> 23 </p>
                        </div>
                        <div class="lc">
                            <a href=""><img src="{% static 'like-2.png' %}" alt="" height="20px", width="20px">&nbsp; Like</a>
                            <a href="{% url 'login:comment' one_post.pk %}"><img src="{% static 'comment.png' %}" alt="" height="20px", width="20px">&nbsp;&nbsp;Comment</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
    <div class="contacts">
        <h2>Friends</h1>
        {% for friend in all_friends %}
            <a href="" class="profile-name">
                <img src="{{ friend.friend2.avatar.url }}" height="30px" width="30px"/>
                <p>{{friend.friend2.first_name}} {{friend.friend2.last_name}}</p>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}