{% extends 'base.html' %}
{% load static %}
{% block title %}Facebook - Home page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'friends/friends.css' %}">
{% endblock css %}

{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="40px", width="40px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="40px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="40px", width="40px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="40px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="40px", width="40px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="40px", width="40px" class="profile-image">&nbsp;&nbsp;
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        &nbsp;&nbsp;   
        <a href="{% url 'login:logout' %}" class="logout">Log Out</a>
    </div>
</section>
<section class="new-friends">
    <div class="pending">
        <h3>Request Pending</h3>
    </div>
    <div class="new-people">
    {% for friend in new_friends %}
    {% if friend.sender_or_receiver == "R" %}
    <div class="chat">
            <img src="{{ friend.friend2.avatar.url }}" alt="" height="100px" width="100px" width="100px" style="border-radius: 100px;">
            <p>{{ friend.friend2.first_name }} {{friend.friend2.last_name}}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="accept" value="{{ friend.friend2.user.username }}">
                    <button type="submit" class="submit">Confirm</button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="reject" value="{{ friend.friend2.user.username }}">
                    <button type="submit" class="reject">Reject</button>
            </form>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</section>
<section class="friends">
    <div class="accepted">
        <h3>Friends</h3>
    </div>
    <div class="old-friends">
    {% for friend in friends %}
        <div class="chat">
            <img src="{{ friend.friend2.avatar.url }}" alt="" height="100px" width="100px" style="border-radius: 100px;">
            <p>{{ friend.friend2.first_name }} {{friend.friend2.last_name}}</p>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="submit">Chat</button>
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="unfriend" value="{{ friend.friend2.user.username }}">
                <button type="submit" class="reject">Unfriend</button>
        </form>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock content%}