*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
.main{
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
body{
    background-color:ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}
.social img{
 margin: 0 2vw;
}
.user{
    display: flex;
}
.profile{
    display: flex;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 40px;
}
.profile-image{
    border-radius: 100px;
}
.profile a{
    text-decoration: none;
}
.logout{
    text-decoration: none;
    color: black;
    padding: 1.7vh 1.2vw 1vh 1.2vw;
    border-radius: 20px;
}
.profile h3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.profile:hover{
    background-color: rgb(200, 200, 206);
}
.logout:hover{
    background-color: dodgerblue;
    color: white;
}
.header h1{
    color: dodgerblue;
}
.header input[type=text]{
    border: none;
    border-radius: 20px;
    margin-left: 1vh;
    height: 2vh;
}
.header form{
    border: 2px solid black;
    border-radius: 20px;
}
.friends{
    display: grid;
    justify-content: center;
}
.pending, .accepted, .new{
    display: flex;
    flex-direction: column;

}
.friend-form{
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px 2px lightgray;
    margin: 1vh 0;
    padding: 1vh  1vw;
}
.friend-form h3{
    margin: 0 5vw 0 1vw;
}
.friend-form button{
    border-radius: 100px;
    
}

.friend-form button img{
    border-radius: 100px;
}