*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
.main{
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
body{
    background-color:ghostwhite;
}
.social img{
 margin: 0 2vw;
}
.profile, .user{
    display: flex;
}
.header h1{
    color: dodgerblue;
}
.header input[type=text]{
    border: none;
    border-radius: 20px;
    margin-left: 1vh;
    height: 2vh;
}
.header form{
    border: 2px solid black;
    border-radius: 20px;
}
.friends-post img{
    width:20vw;
}