{% extends 'base.html' %}
{% load static %}
{% block title %}
Search-Facebook
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'search/search.css' %}">
{% endblock css %}
{% block content %}
<section class="container">
    <div class="header">
        <a href="{% url 'login:home' request.user.username %}" style="text-decoration: none;"><h1> Social-FB</h1></a>
        <form method="post" action="{% url 'login:search' %}">
            {% csrf_token %}
            <input type="text" name="search" id="" placeholder="Search FB">
        <img src="{% static 'icons/search.png' %}" alt="Home", height="20px", width="20px">
        <button type="submit"></button>
        </form>
    </div>
    <div class="social">
        <img src="{% static 'icons/home-page.png' %}" alt="Home", height="50px", width="50px">
        <img src="{% static 'icons/friends.png' %}" alt="Friends", height="50px", width="60px">
        <img src="{% static 'icons/videos.png' %}" alt="Watch", height="50px", width="50px">
        <img src="{% static 'icons/market.png' %}" alt="Marketplace", height="50px", width="60px">
        <img src="{% static 'icons/people.png' %}" alt="Groups", height="50px", width="50px">
    </div>
    <div class='user'>
        <div class='profile'>
            <img src="{{ request.user.profile.avatar.url }}" alt="", height="50px", width="50px" class="profile-image">&nbsp;&nbsp;
            <a href="{% url 'login:profile' user=user.username %}" ><h3>{{ user.username }}</h3></a>
        </div>
        &nbsp;&nbsp;   
        <a href="{% url 'login:logout' %}" class="logout">Log Out</a>
    </div>
</section>
<section class="friends">
    <h2> Search For: {{ search }}</h2>
    <p>Search results : {{ friends | length }} </p>
    <div class="pending">
        {% for rp in pending %}
            <form action="" method="post" class ="friend-form">
                {% csrf_token %}
                {% if rp.sender_or_receiver == "S" and rp.request_status == "P" %}
                    <img src="{{ rp.friend2.avatar.url}}" alt="" height="50px" width="50px" style="border-radius: 100px;">
                    <a href = "{% url 'login:fpro' rp.friend2.user.username %}">{{rp.friend2.first_name}} {{ rp.friend2.last_name }}</a>
                    <input type="hidden" name="cancel" value="{{ rp.friend2.user }}">
                    <input type="hidden" name="search" value="{{ search }}">
                    <button type="submit"><img src="{% static 'icons/pending.png' %}" height="50px" width="50px" alt="" title="Cancel friend request send to {{rp.friend2.first_name}} {{ rp.friend2.last_name }}"></button>
                {% else %}
                    <img src="{{ rp.friend2.avatar.url}}" alt="" height="50px" width="50px" style="border-radius: 100px;">
                    <a href = "{% url 'login:fpro' rp.friend2.user.username %}">{{rp.friend2.first_name}} {{ rp.friend2.last_name }}</a>
                    <input type="hidden" name="pending" value="{{ rp.friend2.user }}">
                    <input type="hidden" name="search" value="{{ search }}">
                    <button type="submit" title="Accept request"><img src="{% static 'icons/accept-friend.png' %}" height="50px" width="50px" alt="" title="Accept friend request of {{rp.friend2.first_name}} {{ rp.friend2.last_name }}"></button>
                {% endif %}
            </form>
        {% endfor %}
    </div>
    <div class="accepted">
        {% for ra in accepted  %}
        <form action="" method="post" class="friend-form">
                {% csrf_token %}
                <img src="{{ ra.profile.avatar.url}}" alt="" height="50px" width="50px" style="border-radius: 100px;">
                <a href = "{% url 'login:fpro' ra.username %}">{{ra.profile.first_name}} {{ ra.profile.last_name }}</a>
                <input type="hidden" name="accepted" value="{{ ra }}">
                <input type="hidden" name="search" value="{{ search }}">
                <button type="submit"><img src="{% static 'icons/chat.png' %}" height="40px" width="40px" alt="" title="Chat with {{ra.profile.first_name}} {{ ra.profile.last_name }}"></button>
            </form>
        {% endfor %}
    </div>
    <div class="new">
        {% for friend in friends %}
            {% if friend.user not in previous_relation %}
            <form action="" method="post" class="friend-form">
                {% csrf_token %}
                <img src="{{ friend.avatar.url}}" alt="" height="50px" width="50px" style="border-radius: 100px;">
                    <a href = "{% url 'login:fpro' friend.user.username %}">{{friend.first_name}} {{ friend.last_name }}</a>
                    <input type="hidden" name="new" value = "{{ friend.user }}"">
                    <input type="hidden" name="search" value="{{ search }}">
                    <button type="submit"><img src="{% static 'icons/add-friend.png' %}" height="50px" width="50px" alt="" title="Add friend {{friend.first_name}} {{ friend.last_name }}"></button>
                </form>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock content %}