*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
.main{
    padding: 1vh 1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}
body{
    background-color:ghostwhite;
}
.social img{
 margin: 0 2vw;
}
.user{
    display: flex;
}
.profile{
    display: flex;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 40px;
}
.profile-image{
    border-radius: 100px;
}
.profile a{
    text-decoration: none;
}
.logout{
    text-decoration: none;
    color: black;
    padding: 1.7vh 1.2vw 1vh 1.2vw;
    border-radius: 20px;
}
.profile h3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.profile:hover{
    background-color: rgb(200, 200, 206);
}
.logout:hover{
    background-color: dodgerblue;
    color: white;
}
.header h1{
    color: dodgerblue;
}
.header input[type=text]{
    border: none;
    border-radius: 20px;
    margin-left: 1vh;
    height: 2vh;
}
.header form{
    border: 2px solid black;
    border-radius: 20px;
}
.friends-post img{
    width:20vw;
}
.friends, .new-friends{
    display: flex;
    flex-wrap: wrap;
}
.new-people, .old-friends{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px lightgray;
    margin: 1vh 1vw;
    padding: 1vh 0.5vw;
}
.pending, .accepted{
    width: 10vw;
    border-radius: 20px;
    margin: 1vh 1vw;
    padding: 1vh 0.5vw;
}
.chat{
    margin: 0.4vh 2vw;
}
.submit{
    width: 90%;
    height: 3vh;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
}
.reject{
    width: 90%;
    height: 3vh;
    border: none;
    background-color: white;
    color: dodgerblue;
    border-radius: 15px;   
}